<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Physics bodies</h1>
    <%= link_to 'New physics body', new_physics_body_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="physics_bodies" class="min-w-full">
    <%= render @physics_bodies %>
  </div>
</div>
